@import "mixins.scss";

.editor {
  height: 100%;
  width: 100%;
  max-width: 500px;
}

.editor_content {
  height: 100%;
  padding: 10px 25px;
  border-radius: 20px;
  background-color: white;
  transition: all ease-in-out 0.12s;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3px var(--blue6);
  }

  blockquote {
    border-left: 3px solid var(--blue9);
    margin-left: 0;
    padding-left: 20px;
  }

  code {
    background: var(--gray2);
		box-shadow: 0 0 0 0.5px var(--mauve4);
    border-radius: 5px;
    padding: 0.1em 0.2em;
		font-size: 0.9em;
		color: var(--blue11);
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }

  pre code {
    display: block;
		font-size: 1em;
		padding: 0.5em;
  }

  hr {
    border: 1px solid var(--gray3);
  }
}

.toolbar {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;

  button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 14px;
    width: 44px;
    height: 44px;
    color: var(--mauve12);

    @include pillowButton;

    svg:first-child {
      width: 24px;
      height: 24px;
    }

    svg:nth-child(2) {
      color: var(--mauve9);
    }

    &:not([disabled]) {
      &.active {
        background-color: var(--blue9);
        color: white;

        svg:nth-child(2) {
          color: rgba(white, 0.75);
        }
      }
    }

    &[aria-haspopup="menu"] {
      width: 64px;

      &:active {
        transform: none;
      }
    }
  }
}

.dropdown {
  background-color: white;
  padding: 6px;
  border-radius: 14px;
  border: 0.5px solid var(--mauve7);
  box-shadow: 0 16px 22px 0 rgba($color: black, $alpha: 0.1);
  min-width: 150px;
  transform-origin: top;

  @media (prefers-reduced-motion: no-preference) {
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    &[data-state="open"] {
      animation-name: slidein;
    }
    // &[data-state="closed"] {
    //   animation-name: slideout;
    // }
  }

  .item {
    padding: 8px;
    border-radius: 8px;

    @include pillowButton;

    &:hover {
      outline: none;
    }

    &.active {
      background-color: var(--blue9);
      color: white;

      &:hover {
        background-color: var(--blue9);
      }

      &:active {
        color: white;
      }
    }

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(-4%) scale(0.8);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes slideout {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  to {
    opacity: 0;
    transform: translateY(-4%) scale(0.8);
  }
}
