.titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0;
	gap: 10px;

  button {
    font-size: 18px;
    font-weight: 500;
    border: none;
    color: white;
    padding: 10px 16px;
    border-radius: 14px;
    transition: transform 0.4s ease-out;
    height: 44px;

    &:not([disabled]) {
      &:hover {
        transform: scale(1.15);
        cursor: pointer;
      }

      &:active {
        transform: scale(1);
      }
    }

    &:not([disabled]) {
      &.share {
        background: #d6409f;
        box-shadow: 0 4px 8px 0 #fad8ec, inset 4px 4px 16px 0 #ecadd4,
          inset -4px -4px 16px 0 #cd1d8d;
      }

      &.save {
        background: #0090ff;
        box-shadow: 0 4px 8px 0 #cee7fe, inset 4px 4px 16px 0 #96c7f2,
          inset -4px -4px 16px 0 #006adc;
      }
    }
  }

  .title {
    font-size: 22px;
    text-align: left;
    width: 100%;
    display: flex;

    input {
      font-size: 22px;
			width: 100%;
      border: none;
      background: none;
      outline: none;
      flex-grow: 1;
    }

    .icon {
      width: 1em;
      height: 1em;
      margin-right: 10px;
      color: var(--mauve11);
    }

    &:focus {
      outline: none;
    }
  }
}
